nav{
    background-color: #91972A;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    align-items: center;
}
button{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
}
button:hover{
    color: #FFFFFF;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}
.loginbtn{
    border-radius: 30px;
    border: 1px solid #FFFFFF;
}