<div class="fullbodylogin">
    <div class="imagessection">
        <div class="blured"></div>
    </div>
    <div class="loginforms">
        <div class="loginscontent">
            <div class="login_text">Reset Password</div>
            <form action="" method="post">
                <div class="form-group">
                    <label for="useremail">Email Adress</label>
                    <input type="email" name="useremail" [(ngModel)]="useremail" autocomplete="off" id="useremail" class="form-control shadow-none" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" [(ngModel)]="password" autocomplete="off" id="password" class="form-control shadow-none" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" name="confirmpassword" [(ngModel)]="confirmpassword" autocomplete="off" id="confirmpassword" class="form-control shadow-none" placeholder="Confirm password">
                </div>
                <div class="form-group flex_links">
                    <a routerLink="/signup">Dont have account?</a> <a routerLink="/login">Have account?</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset Password" (click)="resetpassword()" id="submitbtn" class="btn text-light">
                </div>
            </form>
        </div>
    </div>
</div>